<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Transid</span></dt>
                <dd>
                    <span>{{transaction.transid}}</span>
                </dd>
                <dt><span>Transtype</span></dt>
                <dd>
                    <span>{{transaction.transtype}}</span>
                </dd>
                <dt><span>Fromacct</span></dt>
                <dd>
                    <span>{{transaction.fromacct}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{transaction.status}}</span>
                </dd>
                <dt><span>Destination</span></dt>
                <dd>
                    <span>{{transaction.destination}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{transaction.amount}}</span>
                </dd>
                <dt><span>Fee</span></dt>
                <dd>
                    <span>{{transaction.fee}}</span>
                </dd>
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{transaction.timestamp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
