<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-transaction-heading">Create or edit a Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!transaction.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="transaction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transid">Transid</label>
                    <input type="text" class="form-control" name="transid" id="field_transid"
                        [(ngModel)]="transaction.transid" required/>
                    <div [hidden]="!(editForm.controls.transid?.dirty && editForm.controls.transid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transid?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transtype">Transtype</label>
                    <input type="text" class="form-control" name="transtype" id="field_transtype"
                        [(ngModel)]="transaction.transtype" required/>
                    <div [hidden]="!(editForm.controls.transtype?.dirty && editForm.controls.transtype?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transtype?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fromacct">Fromacct</label>
                    <input type="text" class="form-control" name="fromacct" id="field_fromacct"
                        [(ngModel)]="transaction.fromacct" required/>
                    <div [hidden]="!(editForm.controls.fromacct?.dirty && editForm.controls.fromacct?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fromacct?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="transaction.status" required/>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_destination">Destination</label>
                    <input type="text" class="form-control" name="destination" id="field_destination"
                        [(ngModel)]="transaction.destination" required/>
                    <div [hidden]="!(editForm.controls.destination?.dirty && editForm.controls.destination?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.destination?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="transaction.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fee">Fee</label>
                    <input type="number" class="form-control" name="fee" id="field_fee"
                        [(ngModel)]="transaction.fee" required/>
                    <div [hidden]="!(editForm.controls.fee?.dirty && editForm.controls.fee?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fee?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fee?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_timestamp">Timestamp</label>
                    <div class="input-group">
                        <input id="field_timestamp" type="text" class="form-control" name="timestamp" ngbDatepicker  #timestampDp="ngbDatepicker" [(ngModel)]="transaction.timestamp"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="timestampDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.timestamp?.dirty && editForm.controls.timestamp?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timestamp?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
